<!DOCTYPE html>
<html>

<head>
	<title>Art Gallery | Art Orders</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/newcust.css')}}">
  <style>
    body{
      background: url('/static/styles/img/Image5.jpg');
    }
  </style>
</head>

<body>
  <div class = "container" >  
    <form id = "contact" method = "POST" action = "/customerlogin" autocomplete="off">
      <h3>Art Orders</h3><br>
      <fieldset>
        <input placeholder = "Art ID" type = "text" tabindex = "1" name = 'AID'>
      </fieldset>
      <fieldset>
        <button name = "submit" type = "submit" id = "contact-submit">ENTER</button>
        <p style="color: red;">{{msg}}</p>
      </fieldset>
      <fieldset>
        <button name = "submit" type = "submit" id = "contact-submit"><a href='/orderdisplay' style = 'text-decoration: none;'>ORDERDISPLAY</a></button>
      </fieldset>
    </form>
  </div>
</body>

</html>